{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
    <form action='' method="post">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}  
        <table>
            <tbody>
                <tr>
                    <td>
                        <b>
                            Давление
                        </b>
                    </td>
                    <td>
                        {{ form.P }}
                </tr>
                <tr>
                    <td>
                        <b>
                            Внутренний диаметр
                        </b>
                    </td>
                    <td>
                        {{ form.Dvn }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            Толщина
                        </b>
                    </td>
                    <td>
                        {{ form.S }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            Температура
                        </b>
                    </td>
                    <td>
                        {{ form.T }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            Материал
                        </b>
                    </td>
                    <td>
                        {{ form.steel }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            Прибавка на коррозию
                        </b>
                    </td>
                    <td>
                        {{ form.C }}
                    </td>
                    <tr>
                </tr>
                <tr>
                    <td>
                        <b>
                            Коэффициент прочности сварного шва
                        </b>
                    </td>
                    <td>
                        {{ form.phi }}
                    </td>
                    <tr>
                </tr>
            </tbody>
        </table>
    <input type="submit" value="Submit">
    
    </form>
{% if error %}
    <div class="alert alert-danger" role="alert">
    {{ error }}
    </div>
{% else %}
    {% if Sr %}
        <p><b>Расчетная толщина </b> {{ Sr }} мм</p>
    {% endif %}
    {% if d0r %}
        <p><b>Расчетный диаметр неукрепленного отверстия </b> {{ d0r }} мм</p>
    {% endif %}
    {% if k_zap %}
        <p><b>Коэффициент запаса прочности обечайки </b> {{ k_zap }}</p>
    {% endif %}
{% endif %}
{% endblock %}